html {
  font-size: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

p, hr {
  margin: 0;
}

input, select {
  font-size: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.main {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-block-start: 120px;
  flex-grow: 1;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
}

.header__content {
  margin-inline: 70px;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer {
  flex: 0 0 100px;
  margin-inline: 70px;
}

.footer-block {
  height: 100%;
}

.footer-block__text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.convertor-group {
  display: flex;
  gap: 10px;
}

.custom-input {
  display: flex;
  gap: 10px;
}

.custom-input input {
  border: none;
  border-bottom: solid 1px;
}

.custom-select {
  border: none;
  border-bottom: solid 1px;
}

.convertor {
  display: flex;
  gap: 20px;
}

table {
  width: 100%;
  margin-block: 40px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 15px;
  text-align: center;
  height: 50px;
  vertical-align: center;
}

td {
  position: relative;
}

tr:hover {background-color: coral;}

.table-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.table-input input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: inherit;
}

.table-input__actions {
  position: absolute;
  right: 5px;
  top: 0;
  display: flex;
  gap: 5px;
}